body {
   font-family: sans-serif;
   justify-content: center;
   min-height: 100vh;
   background: #0c0116;
   display: block;
   align-items: center;
}
.input {
   display: block;
   padding: 12px 15px;
   border: 1.5px solid rgb(109, 87, 121);
   outline: none;
   background: #19052c;
   color: white;
   width: 100%;
   left: 50%;
   border-radius: 10px;
   margin-top: 20px;
}
.bas{
	 color: #fff;
	 text-align: center;
}
.sorag{
	color: #fff;
}
.sorag h2 {
	text-align: center;
	 color: #d7a3d7;	
}
.sorag h3 {
	text-align: center;

	 color: #d7a3d7;
}
.jogap{
	float: right;
	margin-right: 10%
}
.say{
	font-size: 15px
}
.but {
   margin-top: 20px;
   width: 100%;
   cursor: pointer;
   color: white;
   border: none;
   font-size: 18px;
   border-radius: 10px;
   transition: 0.4s;
   padding: 12px;
   outline: none;
   background: #800080;
}
.but:hover {
   background: #c907c9;
}
.but a { 
    color: #fff;
    text-decoration: none;
}
.la{
   color: #fff;
   
}.btn {
   margin-top: 20px;
   width: 100%;
   cursor: pointer;
   color: white;
   border: none;
   font-size: 18px;
   border-radius: 10px;
   transition: 0.4s;
   padding: 12px;
   outline: none;
   background: #800080;
}
.btn:hover {
   background: #c907c9;
}
.btn a { 
    color: #fff;
    text-decoration: none;
}