body {
   font-family: sans-serif;
   min-height: 100vh;
   background: #0c0116;
}
.bas{
	color: white;
	text-align: center;
	margin-top: 15%;
}
.bas button {
	padding: 2%;
}
.bas a {
	text-decoration: none;
	font-size: 30px;
}
